@import "./media-query";

.hero{
    height: 75vh;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden !important;
    justify-content: flex-end;
    

    &__content{
        z-index: 1000;
        padding: 1rem 2rem;
        background: #F7F8F2;
        border: 1px solid green;

        @include mobile{
            width: 100%;
            margin: 0;
        }

        @include tablet{
            width: 28%;
            margin: 2rem 0;
        }

    }
    &__title{
        
        font-weight: 600;
        margin-bottom: 1rem;

        @include mobile{
            font-size: 1.65rem;
            
        }

        @include tablet{
            font-size: 2.2rem;

        }
    }

    &__contenttable{
        display: flex;
        align-items: center;
        justify-content: space-between
    }

    &__project{
        text-align: center;
        margin: 1rem 0;
    }

    &__protitle{
        font-size: 1.2rem;
        font-weight: 550;
    }

    &__map{
        width: fit-content;
        max-height:100%;
    }

    &__prosubtitle{
        font-size: .75rem;
    }

    &__loader{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center
    }

    &__colorbar{
        height: 10px;
        margin-bottom: 1rem;

        @include mobile{
            width: 80%;
        }

        @include tablet{
            width: 50%;
        }
    }

   &__dept{
       font-size: 13px;
       font-weight: 600;
   }
}


.fa-spin{
    font-size: 64px;
    align-items: center;
    display: flex;
}
