.project {
  width: 100%;
  background-color: #F7F8F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.project__bar {
  position: relative;
  overflow: visible;
}

@media screen and (min-width: 320px) {
  .project__bar {
    width: 90vw;
    height: 40vh;
  }
}

@media screen and (min-width: 1024px) {
  .project__bar {
    width: 50vw;
    height: 30vh;
  }
}

.project__wrapper {
  background-color: #FFF;
  padding: 2%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  margin-bottom: 4rem;
}

@media screen and (min-width: 320px) {
  .project__wrapper {
    width: 88%;
  }
}

@media screen and (min-width: 1024px) {
  .project__wrapper {
    width: 74%;
  }
}

.project__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 320px) {
  .project__title {
    font-size: 1.5rem;
    text-align: center;
  }
}

@media screen and (min-width: 1024px) {
  .project__title {
    font-size: 2rem;
    text-align: unset;
  }
}

.project__hidefilter {
  background: black;
  color: white;
  border-radius: 8px;
  outline: none;
  border: none;
}

@media screen and (min-width: 320px) {
  .project__hidefilter {
    padding: .6rem;
  }
}

@media screen and (min-width: 1024px) {
  .project__hidefilter {
    padding: .8rem;
  }
}

.project__filters {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.project__extra {
  margin: 0;
}

@media screen and (min-width: 320px) {
  .project__extra {
    width: 50%;
  }
}

@media screen and (min-width: 1024px) {
  .project__extra {
    width: 255px;
  }
}

.project__headerwrapper {
  margin-bottom: 3rem;
}

.project__infostep {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 320px) {
  .project__infostep {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 1024px) {
  .project__infostep {
    width: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.project__sumtitle {
  font-weight: 650;
  text-align: center;
  margin-bottom: 1rem;
}

.project__sumvalue {
  font-size: 2.8rem;
  font-weight: 800;
  text-align: center;
}

.project__summary {
  text-align: center;
}

@media screen and (min-width: 320px) {
  .project__summary {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .project__summary {
    width: 25%;
  }
}

@media screen and (min-width: 320px) {
  .project__pieData {
    width: 100%;
    overflow: scroll;
  }
}

@media screen and (min-width: 1024px) {
  .project__pieData {
    width: auto;
    overflow: none;
  }
}

.project__infostep {
  margin-bottom: 2rem;
}

.project__pie {
  position: relative;
  height: 200px;
  width: 300px;
}

.project__biggerpie {
  position: relative;
  height: 200px;
  width: 350px;
}

.project__chart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 320px) {
  .project__chart {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .project__chart {
    width: 40%;
  }
}

.project__pieval {
  position: absolute;
  top: 3.3pc;
  left: 2pc;
  text-align: center;
  font-family: 'Poppins', sans-serif;
  width: 100px;
}

.project__pietitle {
  margin: 0;
  font-size: .5rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: .2rem;
}

.project__pievalue {
  margin: 0;
  margin-bottom: .5rem;
  font-size: 1.4rem;
}

.project__depttitle {
  font-size: .75rem;
  margin: 0;
}

.project__deptval {
  width: 150px;
  top: 3.25pc;
  left: .65pc;
}

.project__piedepttitle {
  font-size: .8rem;
}

.project__sumtext {
  font-size: .8rem;
}

.project__threepie {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 320px) {
  .project__threepie {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .project__threepie {
    width: 35%;
  }
}

.project__position {
  position: absolute;
  top: 3.4pc;
  left: 4.5pc;
}

.financehead {
  width: 50%;
}

.react-datepicker-wrapper {
  width: 100%;
}

.react-datepicker-wrapper input {
  width: 100%;
  border: none;
  font-size: 1rem;
}

.react-datepicker-wrapper input:focus {
  outline: 0;
}

.notactive {
  display: none;
}

.margin-bottom {
  margin-bottom: 5.5rem;
}

canvas {
  position: relative;
  z-index: 1;
}

.projectVisible {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.deptfonttitle {
  font-size: .8rem;
}

@media screen and (min-width: 320px) {
  .threepstyle {
    width: 100%;
  }
}

@media screen and (min-width: 1024px) {
  .threepstyle {
    width: 30%;
  }
}

.newposition {
  left: 5.5pc;
}
/*# sourceMappingURL=project.css.map */