.project{
    width: 100%;
    background-color: #F7F8F2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
   flex-direction: column;

    &__wrapper{
        width: 70%;
        background-color: #FFF;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        margin-bottom: 4rem;
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        font-size: 2rem;
    }

    &__hidefilter{
        padding: .8rem;
        background: black;
        color: white;
        border-radius: 8px;
        outline: none;
        border: none;
    }

    &__filters{
       cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__extra{
        width: 255px;
    }

    &__headerwrapper{
        margin-bottom: 3rem;
    }

    &__infostep{
        display: flex;
        justify-content: space-between;
    }

    &__sumtitle{
        font-weight: 650;
        margin-bottom: 1rem;
    }

    &__sumvalue{
        font-size: 2.8rem;
        font-weight: 800;
    }

    &__summary{
        width: 25%;
    }

    &__infostep{
        margin-bottom: 2rem;
    }

    &__piewrapper{
        margin-top: 2rem;
    }
}

.financehead{
    width: 50%;
}



.react-datepicker-wrapper{
    width: 100%;

    input {
        width: 100%;
        border: none;
        font-size: 1rem;

        &:focus{
            outline: 0;
        }
    }


}

.notactive{
    display: none;
}