

@import "./media-query";


.project{
    width: 100%;
    background-color: #F7F8F2;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
   flex-direction: column;

   &__bar{
    position: relative;
    overflow: visible;

       @include mobile{
        width: 90vw;
        height: 40vh;
        
    }
       @include laptop{
        width: 50vw;
      height: 30vh;
        
    }
          
    
   }

    &__wrapper{
        background-color: #FFF;
        padding: 2%;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
        margin-bottom: 4rem;

        @include mobile{
            width: 88%;
        }
        @include laptop {
            width: 74%;
        }
    }

    &__header{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__title{
        @include mobile{
            font-size:1.5rem;
            text-align: center;
        }

        @include laptop{
            font-size: 2rem;
            text-align: unset;
        } 
    }

    &__hidefilter{
       
        background: black;
        color: white;
        border-radius: 8px;
        outline: none;
        border: none;
        @include mobile{
            padding: .6rem;
        }
        @include laptop{
            padding: .8rem;
        }
    }

    &__filters{
       cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__extra{
        margin: 0;
        @include mobile{
            width: 50%;
        }
        @include laptop{
            width: 255px;
        }
    }

    &__headerwrapper{
        margin-bottom: 3rem;
    }

    &__infostep{
        display: flex;
        justify-content: space-between;
        

        @include mobile{
            flex-wrap: wrap;
            width: 100%;
            flex-direction: column;
        }
        @include laptop {
            width: unset;
            flex-direction: row;
        }
    }

    &__sumtitle{
        font-weight: 650;
        text-align: center;
        margin-bottom: 1rem;
    }



    &__sumvalue{
        font-size: 2.8rem;
        font-weight: 800;
        text-align: center;
    }

    &__summary{

        text-align: center;
        @include mobile{
            width: 100%;
       
        }
        @include laptop{
            width: 25%;
        }
    }

    &__pieData{
      
        @include mobile{
            width: 100%;
            overflow: scroll;
        }

        @include laptop{
            width: auto;
            overflow: none;
        }
    }

    &__infostep{
        margin-bottom: 2rem;
    }

    &__pie{
        position: relative;
        height: 200px;
        width: 300px;
    }
    &__biggerpie{
        position: relative;
        height: 200px;
        width: 350px;

    }

    &__chart{
      
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mobile{
            width: 100%;
           
        }

        @include laptop{
            width: 40%;
        }
      
    }

    &__pieval{
        position: absolute;
        top: 3.3pc;
        left: 2pc;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        width: 100px;
        
    }

    &__pietitle{
        margin: 0;
        font-size: .5rem;
        font-weight: 500;
        text-align: center;
        margin-bottom: .2rem;
       
    }

    &__pievalue{
        margin: 0;
        margin-bottom: .5rem;
        font-size: 1.4rem;
       
    }

    &__depttitle{
        font-size: .75rem;
        margin: 0;
     
    }

    &__deptval{
        width: 150px;
        top: 3.25pc;
        left: .65pc;    
    }
    

    &__piedepttitle{
        font-size: .8rem;
    }
    

    &__sumtext {
        font-size: .8rem;
    }

    &__threepie{



        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        @include mobile{
            width: 100%;
           
        }
        @include laptop {
            width: 35%;
        }
      


    }

    &__position{
        position: absolute;
        top: 3.4pc;
        left: 4.5pc;
    }

    // &__piewrapper{
    //     margin-top: 2rem;
    // }
}

.financehead{
    width: 50%;
}



.react-datepicker-wrapper{
    width: 100%;

    input {
        width: 100%;
        border: none;
        font-size: 1rem;

        &:focus{
            outline: 0;
        }
    }


}

.notactive{
    display: none;
}


.margin-bottom{
    margin-bottom: 5.5rem;
}

// .margin-top{
//     margin-top: 5rem;
// }


canvas{position:relative; z-index:1;}


.projectVisible{
    display: flex;
}

.deptfonttitle{
    font-size: .8rem;
}

.threepstyle{
    @include mobile{
        width: 100%;
    }
    @include laptop{
        width: 30%;
    }
}

.newposition{
    left: 5.5pc;
}